<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PillPal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <section class="content">
            <h1>PillPal: Simplifying Medication Management</h1>
            <p>Your health, our priority</p>
            <p> Track, manage, and refill your medications effortlessly</p>
            
            
            <div class="languages">
                <a href="xWhyPillPal.html">Why PillPal?</a>
                <a href="xServices.html">Services</a>
                <a href="xContact.html">Contact Us</a>
            </div>
            
        </section>
        <section class="features track-medication">
            <div class="container">
                <div class="feature">
                    <h2>Stay on Top of Your Medications with Ease</h2>
                    <p>Keep track of your medication inventory,quantities,expiry dates and schedule purchase.</p>
                    <a href="indexd.html">
                        <button class="get-started-btn">Start Managing now</button>
                    </a>
                    
                </div>
            </div>
        </section>
       
    </main>
    <footer>
        <div class="container">
            <p>PillPal.</p>
        </div>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
