<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="xStyles_Contact.css">
</head>
<body>
        <section class="contact-section">
            <h1>Contact Us</h1>

                <div class="text-box">
                    <p>Reach out to us for any queries or support.</p>
                    <p> Sai Kruthi T:</p>
                    <p> Phone number:1111111111</p>
                    <p> Shreya R Varur:</p>
                    <p> Phone number:22222222222</p>

                </div>
                
                <a href="index.html">Back to Home</a>
    
        </section>

    <footer>
        <p>PillPal.</p>
    </footer>
</body>
</html>
