<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="xStyles_services.css">
</head>
<body>

        <section class="services-section">
            <h1>Services</h1>

             <div class="text-box">
                <p>
                    PillPal is dedicated to providing a comprehensive platform that simplifies all aspects of medication management, making it easier for you to maintain your health with confidence. 
                    Our services are meticulously designed to ensure that managing your medication regimen is both seamless and stress-free. 
                    With PillPal, you can accurately track your medication inventory, including quantities and expiration dates, helping you avoid running out of essential medications. 
                    This feature ensures that you are always prepared for your next refill, reducing the risk of missed doses and enhancing your overall health management.
                    Moreover, PillPal allows you to set up recurring purchases tailored to your specific needs, whether on a monthly, weekly, or more frequent basis.
                    At PillPal, we believe in empowering you to take control of your health, and our platform provides you with the tools to manage your medication efficiently and effectively, helping you maintain a consistent and reliable health routine.

                </p>
            </div>
            <a href="index.html">Back to Home</a>
        </section>

    
</body>
</html>
