<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why PillPal?</title>
    <link rel="stylesheet" href="xStyles_WhyPillPal.css">
</head>
<body>
    <section class="why-pillpal-section">
        <h1>Why PillPal?</h1>
            <div class="text-box">
                <p>
                    Managing multiple medications can be overwhelming, especially when you’re balancing a busy life.
                    PillPal is your partner in health, designed to remove the complexities of medication management and give you peace of mind.
                    Whether you’re dealing with chronic conditions that require a strict medication regimen or simply want to stay on top of your daily vitamins, PillPal offers a reliable solution to keep everything in check.
                    By leveraging our platform, you can easily monitor your medication inventory, track quantities, and avoid the stress of running out of essential prescriptions.
                    PillPal is more than just a tool; it’s a comprehensive support system that empowers you to take control of your health with confidence and ease, all from the convenience of your computer.
                </p>
            </div>
           
            <a href="index.html">Back to Home</a>

    </section>
</body>
</html>
